<h1>Report: <%= @year %></h1>
<h2><%= @category.name %></h2>
<table class="table table-striped">
  <thead>
    <th>Month</th>
    <th>Spent</th>
    <th>Budgeted</th>
    <th>Difference</th>
  </thead>
  <tbody>
    <% @months.keys.each do |month| %>
      <tr>
        <td><%= month %></td>
        <td><%= number_to_currency(@months[month][:spent]) %></td>
        <td><%= number_to_currency(@category.limit) %></td>
        <td><%= number_to_currency(@category.limit - @months[month][:spent]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
