<%= semantic_form_for @charge do |f| %>
  <h1><%= @charge.description %></h1>
  <h2><%= @charge.transaction_date %></h2>
  <%= f.input :amount, label: 'Amount $' %>
  <div class="form-group category-choice">
    <%= f.input :category, as: :radio, label: false, collection: @categories.pluck(:name, :id) %> 
  </div>
  <%= f.actions do %>
    <%= f.action :submit, as: :button, button_html: {class: 'btn btn-primary'} %>
  <% end %>
  <%= button_to 'Skip', charge_path(@charge), class: 'btn btn-secondary', method: :delete %>
<% end %>
